@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeOut {
    from {
        opacity: 100;
    }
    to {
        opacity: 0;
    }
}
.album-title {
    clip-path: polygon(calc(100% - 1rem) 0, 100% 1rem, 100% 100%, 0 100%, 0 0);
}
@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: black;
        background: white;
    }
}

.markdown-preview {
  font-size: 14px;
}

.markdown-preview ul,
.markdown-preview ol {
  list-style: disc;
  margin-left: 0.5em;
  padding-left: 0.5em;
  margin-top: 0.5em;
}
.markdown-preview li {
  margin-bottom: 0.25em;
}

.prose ul,
.prose ol {
  list-style: disc;
  margin-left: 1.5em;
  padding-left: 0.5em;
  margin-top: 0.5em;
}
.prose li {
  margin-bottom: 0.25em;
}
